/* ----------------fontes----------------------------- */

@font-face{
  font-family: "BauhausModern";
  src:url('assets/fonts/BauhausModern-Regular.ttf');

}

@font-face{
  font-family: "MorrisRomanBlack";
  src:url('assets/fonts/MorrisRomanBlack.ttf');
}

@font-face{
  font-family:"LouisGeorgeCafe";
  src: url('assets/fonts/Louis\ George\ Cafe.ttf');
}

@font-face{
  font-family:"Nyan";
  src: url('assets/fonts/FB_NYAN_.TTF');
}

@font-face{
  font-family:"OriginTech";
  src: url('assets/fonts/OriginTech_personal_use.ttf');
}

/*-------------------------------------------- */
body {
  display:flex;
  flex-direction: column;
  color:rgb(32, 32, 32);

  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-color: #fff;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;

  font-family: 'LouisGeorgeCafe';
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  padding: 0.5rem;

  background-color: rgb(231, 231, 231);
}

main{
  display: flex;
  justify-content: center;
  
  margin: 1rem;
  border-radius: 30px;
  background-color: rgb(231, 231, 231);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: auto;
  padding: 1rem 0;

  width: 100%;
  height: 50px;

  background-color: rgb(231, 231, 231);
  color: rgb(78, 78, 78);
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
}

a{
  color:inherit;
  transition: color 0.2s;
}

a:hover {
  color: #ff2525;
}

button{
  height: 3rem;
  border-radius: 50px;
  font-size: 1.1rem;

  margin: 1rem;
  padding: 0.3rem;
  box-shadow: 0 4px #999;
  border: none;
  outline: none; 
  transition: background-color 0.2s;
}

button:hover{
  background-color:#d4d4d4;
}

button:active{
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.cat {
  display: grid;
  padding: 1rem;
  text-align: center;

  background-color: rgb(231, 231, 231);
  margin: 1rem;
  font-family: 'Nyan' !important;
  font-size: 20rem;
  border-radius: 30px;
}

.uil {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

#home{
  font-size: 2rem;
}

/*-----------------themes------------------ */

#bw {
  background-color: rgb(231, 231, 231);
  color: rgb(32, 32, 32);
}

#bw_btn {
  font-size: 1rem;
  font-weight: bold;
  color:rgb(32, 32, 32);
  background-color: white;
}

#glass{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  color: #4863ff;
}

#glass_btn{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  color: #4863ff;
}

#dark {
  color:#fff;
  background-color: rgb(36, 36, 36);
}

#dark_btn{
  background-color: rgb(41, 41, 41);
  color:#fff;
}

#bauhaus{
  font-family: "BauhausModern";
  color:rgb(0, 0, 0);
  background-color: rgb(255, 235, 123);
}

#bauhaus_btn{
  font-family: "BauhausModern";
  background-image: url('assets/imgs/bauhaus.png');
  background-size: contain;
  color: rgb(0, 0, 0);

}

#neon{
  font-family: "OriginTech";
  color:#f130d1;
  background-color: rgb(36, 36, 36);
  text-shadow: 0 0 15px #f130d1;
}

#neon_btn{
  font-family: "OriginTech";
  color: #f130d1;
  text-shadow: 0 0 10px #f130d1;
  background-color: rgb(36, 36, 36);
  border: 2px solid rgb(48, 228, 241);
  box-shadow: 0 0 20px 5px rgb(48, 235, 241);
}

/*-----------------------------------------*/
@media (max-width: 1967px){
  .cat {
    font-size: 15rem;
  }
}

@media (max-width: 690px){
  html, body {
    font-size: 80%;
  }
}

@media (max-width: 638px){
  .cat {
    font-size: 10rem;
  }
}

@media (max-width: 417px){
  main {
    display: grid;
  }
  .cat {
    font-size: 7rem;
  }
}

@media (max-width: 315px){
  html, body {
    font-size: 70%;
  }

  #glass, #glassbtn {
    box-shadow: 0
  }
}